@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #c5ebd6;
    font: 16px normal var(--fonte-padrao);
}

a.externo::after{
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    min-height: 150px;
    text-align: center;
    padding-top: 20px;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 2.8em;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.22);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.3em;
    max-width: 600px;
    padding: 0px 5px 0px 5px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.13);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.24);
}

nav > a {
    color: var(--cor0);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    transition-duration: 0.6s;
}

nav > a:hover {
    background-color: var(--cor4);
    color: var(--cor2);
}

main {
    background-color: white;

    min-width: 250px;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.432);
    border-radius: 0px 0px 15px 15px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.6em;
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.4em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    line-height: 1.6em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    color: var(--cor5);
    background-color: var(--cor1);
    text-decoration: none;
    border-radius: 2px;
    transition: 0.3s;
}

main a:hover {
    color: var(--cor4);
    background-color: var(--cor0);
    text-decoration: underline;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.26);
}

aside > h3 {
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: "\2714\00A0\00A0";
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}